body {
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: #01bfad;
    color: white;
}

.header {
    color: white;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-left: 15px;
}

.inputs {
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    width: 60px;
}

.alt_btn {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.alt_btn:active {
    color: black;
    border-bottom: 1px solid black;
}

.container {
    margin-top: 70px;
    margin-left: 8px;
    margin-right: 8px;
}

.text {
    margin-right: 5px;
}

.controls {
    display: flex;
    column-gap: 8px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 40px;
    width: 100%;
}

.numbers_added {
    display: inline-flex;
    align-items: center;
    height: 30px;
    width: 1000px;
    overflow-x: auto;
}

table {
    height: 30px;
    width: 800px;
    table-layout: fixed;
}

th {
    border: 1px solid black;
    width: 19px;
}

.canvas_container {
    width: 100%;
    display: flex;
}

.canvas {
    border: 1px solid red;
}

#info_bullets {
    width: 100%;
    padding-bottom: 10px;
    margin-right: 10px;
}

.info_header {
    margin-top: 10px;
    height: 60px;
    width: 100%;
    background-color: #01bfad;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.point {
    margin-left: 10px;
    margin-right: 10px;
}
