body {
    margin: 0;
    overflow-y: scroll;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: #01bfad;
    color: white;
    font-size: 28px;
}

.header{
    color: white;
    font-size: 28px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-left: 15px;
}

.left_space {
    margin-left: 25px
}

.alt_btn {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
}

.alt_btn:hover {
    color: black;
    border-bottom: 1px solid black;
}

.container{
    margin-top: 70px;
    margin-left: 8px;
    margin-right: 8px;
}

.controls{
    display: inline-flex;
    column-gap: 8px;
    align-items: center;
    height: 25px;
    width: 1800px;
}

table{
    height: 30px;
    width: 800px;
}

.table_container{
    margin-left: 15px;
    width: max-content;
}

th{
    border: 1px solid black;
    width: 19px;
}

.canvas_container{
    width: 100%;
    display: flex;
}

.canvas{
    margin-top: 10px;
    border: 1px solid red;
}

#info_bullets{
    position: fixed;
    width: 100%;
}

.info_header {
    height: 60px;
    width: 100%;
    background-color: #01bfad;
    color: white;
    display: flex;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.point {
    margin-left: 10px;
}
