body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    display: flex;
    white-space: nowrap;
    align-items: center;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: #01bfad;
    color: white;
    font-size: 28px;
}

.header{
    color: white;
    font-size: 28px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-left: 15px;
}

.inputs{
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

select {
    height: 25px;
}

.alt_btn {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
}

.alt_btn:active {
    color: black;
    border-bottom: 1px solid black;
}

.container{
    margin-top: 70px;
    margin-left: 8px;
    margin-right: 8px;
}

.text {
    margin-right: 5px;
}

input {
    height: 20px;
    width: 100px;
}

button {
    height: 25px;
}

.controls{
    display: flex;
    column-gap: 8px;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
    min-height: 40px;
    width: 100%;
}

.numbers_added{
    display: inline-flex;
    align-items: center;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 850px;
    overflow-x: auto;
}

table{
    height: 30px;
    width: 800px;
    font-size: 12px;
    table-layout: fixed;
}

th{
    border: 1px solid black;
    width: 19px;
}

.canvas_container{
    width: 100%;
    display: flex;
}

.canvas{
    border: 1px solid red;
}

#info_bullets{
    width: 100%;
    padding-bottom: 30px;
    margin-right: 10px;
}

.info_header {
    height: 4rem;
    width: calc(100% - 10px);
    background-color: #01bfad;
    color: white;
    display: flex;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.point {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 500px) {
    .header {
      font-size: 21px;
    }

    .alt_btn {
        font-size: 14px;
    }

    .info_header {
        font-size: 21px;
    }
  }
